body {
  font-family:  Segoe UI, arial, comic sans ms, sans-serif;
  background-color: hsl(0, 0%, 97%);
}
.page {
    margin-top: 40px;
}
.page > *:first-child{
  padding-top: 3px;
}
.content {

  display: flex;
  justify-content: center;
}

.userName {
  color: #777777
}
.userLink {
  text-decoration: none;
  color: black;

}
.userLink:hover .fullName{
  text-decoration: underline;
  color: #7ca7fb;
}
.userLinkContainer {
  padding-bottom: 5px;
}
.fullName {
  font-weight: bold;
}
.infoBox {
  text-align: center;
}
.post {
  margin: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 10px;
  background-color: white;
}
.replyDivider {
  height: 0px;
  border-top: 1px solid rgb(186, 186, 186);
  margin: 7px 20px;

}

.postActionBar {
  padding: 3px 7px;
  margin: 5px 0px 0px 0px;
  background-color: hsl(0, 0%, 97%);
}
.notLink {
  margin: 0px 10px 0px 0px;

  text-decoration: none;
  color: rgb(115, 115, 115);
}
.notLink.activated{
  font-weight: bold;
  color: rgb(0, 33, 255);
}

.notLink:hover {
  text-decoration: underline;
}

.postContent {
  margin: 0px 0px;
}
.postContent ~ .postContent {
  border-top: 1px solid grey;
}


.postText {
  /*break long words*/
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;


}
.reply {
  margin-top: 10px;
}
.reply > .postContent {
  border-left: 7px solid hsl(215, 100%, 82%);
  padding-left: 10px;

}

.messageInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 5px;

}
.replyInput {
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
width: 100%;
margin-top: 5px;
}



.postList {
  width: 600px;
}
.topBarContainer {
  background-color: rgb(133, 182, 255);

  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 3px rgb(154, 154, 154);
  z-index: 5;
}
.topBar{
  max-width: 600px;

  margin: 0 auto;



  display: flex;
  justify-content:space-between;


}


.buttonText {

  display: inline;
  margin: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: bottom;

}
.topBarLeft, .topBarRight {
  width: 300px;
  display: flex;
}

.topBarLeft {
  justify-content: flex-start;
}

.topBarRight {
  justify-content: flex-end;
}

.topBarLeft > .topBarButton {
  float: left;
}

.topBarRight > .topBarButton {
  float:right;
}
.topBarButton {


  align-items: center;

  display: flex;
  height: 40px;

  text-decoration: none;
  white-space: nowrap;
  color: black;
}


.topBarButton:hover {
  background-color: rgb(93, 127, 179);
}
img {
  height: ;
}
.container {
  display: inline;
}
.userPageTopInfo {
  background-color: white;
  border-bottom: 1px solid rgb(205, 205, 205);

  position: relative;


}
.profilePic {
  float: left;
  display: block;
  border: 5px solid rgb(181, 181, 181);
  margin: 5px;

}
.bottomRow {
  clear:both;
}
.userPageInfo {
  position: absolute;
  bottom: 12px;
left: 230px;
}

.notification {
  font-size: 12px;
  color: red;
}
