body {
  font-family:  Segoe UI, arial, comic sans ms, sans-serif;
  background-color: hsl(0, 0%, 97%);
}
.page {
    margin-top: 40px;
}
.page > *:first-child{
  padding-top: 3px;
}
.content {
  display: flex;
  justify-content: center;
}
.username {
  color: #777777
}
.userLink {
  text-decoration: none;
  color: black;
}
.userLink:hover .fullName {
  text-decoration: underline;
  color: #7ca7fb;
}
.userLinkContainer {
  padding-bottom: 5px;
}
.fullName {
  font-weight: bold;
}
.infoBox {
  text-align: center;
}
.post {
  margin: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 10px;
  background-color: white;
}
.replyDivider {
  height: 0px;
  border-top: 1px solid rgb(186, 186, 186);
  margin: 7px 20px;
}
.postActionBar {
  padding: 3px 7px;
  margin: 5px 0px 0px 0px;
  background-color: hsl(0, 0%, 97%);
}
.notLink {
  margin: 0px 10px 0px 0px;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
.notLink.activated{
  font-weight: bold;
  color: rgb(0, 33, 255);
}
.notLink:hover {
  text-decoration: underline;
}
.postContent {
  margin: 0px 0px;
}
.postContent ~ .postContent {
  border-top: 1px solid grey;
}
.postText {
  /*break long words*/
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.reply {
  margin-top: 10px;
}
.reply > .postContent {
  border-left: 7px solid hsl(215, 100%, 82%);
  padding-left: 10px;
}
.messageInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.formContainer {
  /*max-width: 75%;
  min-width: 260px;*/
  align-content: center;
  text-align: center;
}
.signInForm {
  text-align: right;
  display: inline-block;
}
.loginTitle {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
}
.loginText {
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 5px;
}
.inputField {
  display: inline;
}
label {
  display: block;
  align-content: center;
}
.postList {
  width: 600px;
}
.topBarContainer {
  background-color: rgb(133, 182, 255);

  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 3px rgb(154, 154, 154);
  z-index: 5;
}
.topBar{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  font-size: 20px;
}
.topBarProfilePic {
  height: 24px;
  border: 2px solid;
  border-radius: 200px;
}
.icon {
  height: inherit;

}
.topBarProfileLink {
  margin: 5px;
    font-weight: ;
    max-width: 80px;
}
.buttonText {
  display: inline;

  font-weight: ;
  text-transform: lowercase;
  vertical-align: bottom;
}
.topBarLeft, .topBarRight, .topBarCenter{
  width: 300px;
  display: flex;
}
.topBarLeft {
  justify-content: flex-start;
}
.topBarRight {
  justify-content: flex-end;
}
.topBarCenter {
  justify-content:center;
  padding-left: ;
  padding-right: ;
}

.topBarLeft > .topBarButton {
  float: left;
}
.topBarRight > .topBarButton {
  float:right;
}
.topBarElement {
  align-items: center;
  padding: 0px 5px;
  display: flex;
  height: 40px;

  text-decoration: none;
  white-space: nowrap;
  color: black;
}
.topBarButton:hover{
  background-color: rgb(0, 81, 205);
}
.searchInput {
  width: 70px;
  border-radius: 200px;
  padding-left: 5px;
  font-size: 70%;
  height: 22px;
  border: none;
  position: relative;
  top: -2px;
  background-color: white;
  transition: width 0.5s;

}
.searchInput:focus {
  width: 100px;

}
.searchInput:focus, .searchButton:focus {
  outline: none;
}
.searchForm {
  background-color: white;
  border: 2px solid;
  border-color: black;
  border-radius: 200px;
  height: 24px;
  overflow: hidden;

}
.searchButton:hover {
  background-color: rgb(0, 81, 205);
}
.searchButton {
  font-size: 80%;
  cursor: pointer;
  border: none;
  text-transform: lowercase;
  font-weight: ;
  display:inline-block;
  height: 28px;
  border-radius: 200px;
  border: 2px solid;
  border-color: black;
  background-color: rgb(133, 182, 255);
  position: relative;
  top: -2px;
  right: -2px;
}
img {
  height: ;
}
.container {
  display: inline;
}
.userPageTopInfo {
  background-color: white;
  border-bottom: 1px solid rgb(205, 205, 205);

  position: relative;
}
.profilePic {
  float: left;
  display: block;
  border: 5px solid rgb(181, 181, 181);
  margin: 5px;

}
.bottomRow {
  clear:both;
}
.userPageInfo {
  position: absolute;
  bottom: 12px;
left: 230px;
}
.notification {
  font-size: 12px;
  color: red;
}
.loader {
    border: 3px solid rgb(238, 238, 238);
    border-top: 3px solid rgb(105, 105, 105);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: spin 1s linear infinite, fadein 1s;
}
@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0 }
    100%   { opacity: 1; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
